@mixin flexbox($jc:space-between, $ai:center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin default-text($mb, $fz:16px, $fw:400, $lh:normal, $ls:normal) {
  margin-top: 0;
  margin-bottom: $mb;
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin btn($p, $bgc) {
  padding: $p;
  border: none;
  background-color: $bgc;
}

@mixin psevdo-el($w, $h, $bgp:center) {
  display: block;
  width: $w;
  height: $h;
  background-repeat: no-repeat;
  background-position: $bgp;
  content: "";
}